.wrap-doc-layout {
  display: flex;
  grid-template-areas: "sidebar content";
  /* top: 78px; */
  position: relative;
}
.doc-header {
  grid-area: header;
}
.doc-sidebar {
  width: 240px;
  height: 100vh;
  position: fixed;
  background: #e1e1e1;
  grid-area: sidebar;
}
.doc-content {
  grid-area: content;
  width: calc(100% - 240px);
  left: 240px;
  padding: 0 2em;
  position: relative;
}

@media (max-width: 768px) {
  .doc-sidebar {
    display: none;
  }
  .doc-content { 
    width: 100%; 
    left: 0;
  }
}
