.wrap-doc-layout {
  display: flex;
  grid-template-areas: "sidebar content";
  /* top: 78px; */
  position: relative;
}
.doc-header {
  grid-area: header;
}
.doc-sidebar {
  width: 240px;
  height: 100vh;
  position: fixed;
  background: #e1e1e1;
  grid-area: sidebar;
  padding: 20px;
}
.doc-content {
  grid-area: content;
  width: calc(100% - 240px);
  left: 240px;
  /* top: 30px; */
  position: relative;
}
