:root {
  --base-color: #34312d;
  --main-bg-color: hsl(0, 0%, 95%);
  --primary-color: #1364FD;
  --secondary-color: #737681;
  --error-color: #e81a2b;
  --info-color: #0b84a8;
  --success-color: #07a24f;
  --dark-color: #282c34;
  --light-color: #dfdfdf;
  --white-color: #ffffff;
}
body {
  background: var(--main-bg-color);
  color: var(--base-color);
}
a {
  color: var(--base-color);
}
header {
  background: var(--main-bg-color);
}
code.code-wrapper {
  font-family: "Open Sans", sans-serif;
  /* unicode-bidi: bidi-override; */
  font-size: 0.95em !important;
  color: var(--error-color);
  word-wrap: break-word;
  background-color: #f3d7d7;
  font-weight: 400;
  /* border: 0.1rem solid rgba(0, 0, 0, 0.1); */
  border-radius: 3px;
  padding: 0.18em 0.4em 0.2em 0.4em;
  margin: auto 0.2em;
}
.code-example {
  margin: 2em 0;
}
/* Color Palette */

.primary {
  background: var(--primary-color);
}
.secondary {
  background: var(--secondary-color);
}
.error {
  background: var(--error-color);
}
.info {
  background: var(--info-color);
}
.success {
  background: var(--success-color);
}
.dark {
  background: var(--dark-color);
}
.light {
  background: var(--light-color);
}
.white {
  background: var(--white-color);
}
/* Bordered buttons */
.bordered-primary {
  border-color: var(--primary-color);
  color: var(--primary-color);
}
.bordered-secondary {
  border-color: var(--secondary-color);
  color: var(--secondary-color);
}
.bordered-error {
  border-color: var(--error-color);
  color: var(--error-color);
}
.bordered-info {
  border-color: var(--info-color);
  color: var(--info-color);
}
.bordered-success {
  border-color: var(--success-color);
  color: var(--success-color);
}
.bordered-dark {
  border-color: var(--dark-color);
  color: var(--dark-color);
}
.bordered-light {
  border-color: var(--light-color);
}
/* Adjust light buttons: background*/
.button.light {
  color: var(--dark-color);
}
.bordered-light {
  color: var(--dark-color);
}
/* Color text */
.text-primary {
  color: var(--primary-color);
}
.text-secondary {
  color: var(--secondary-color);
}
.text-error {
  color: var(--error-color);
}
.text-info {
  color: var(--info-color);
}
.text-success {
  color: var(--success-color);
}
.text-dark {
  color: var(--secondary-color);
}
.text-light {
  color: var(--light-color);
}
/* Color border  */
.border-primary {
  border-color: var(--primary-color);
}
.border-secondary {
  border-color: var(--secondary-color);
}
.border-error {
  border-color: var(--error-color);
}
.border-info {
  border-color: var(--info-color);
}
.border-success {
  border-color: var(--success-color);
}
.border-dark {
  border-color: var(--secondary-color);
}
.border-light {
  border-color: var(--light-color);
}
/* Color border  */
.box.primary {
  color: var(--light-color);
  background: var(--primary-color);
}
.box.secondary {
  color: var(--light-color);
  background: var(--secondary-color);
}
.box.success {
  color: var(--light-color);
  background: var(--success-color);
}
.box.error {
  color: var(--light-color);
  background: var(--error-color);
}
.box.info {
  color: var(--light-color);
  background: var(--info-color);
}
.box.dark {
  color: var(--light-color);
  background: var(--dark-color);
}
/* .box.primary,
.box.secondary,
.box.error,
.box.info,
.box.success,
.box.dark {
  color: var(--light-color);
  background: var(--primary-color);
} */
.box {
  color: var(--dark-color);
}

/* Navbar: Dark navigation */
.navbar.dark,
.navbar.dark a {
  color: var(--light-color);
}

/* alert messages */

.alert.success {
  background: #d3f3e2;
  color: var(--success-color);
}
.alert.info {
  background: #ccebf5;
  color: var(--info-color);
}
.alert.error {
  background-color: #ffdce0;
  color: var(--error-color);
}
