code.code-wrapper {
  font-family: "Open Sans", sans-serif;
  unicode-bidi: bidi-override;
  font-size: 1em !important;
  color: #2e2a2c;
  word-wrap: break-word;
  background-color: #ffffff;
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  padding: 0 0.4em;
  margin: auto 0.2em;
}
.code-example {
  margin: 2em 0;
}
/* Color Palette */

/* Color background*/
.primary {
  background: #1364fd;
}
.secondary {
  background: #209ffe;
}
.error {
  background: #e81a2b;
}
.info {
  background: #e46013;
}
.success {
  background: #07a24f;
}
.dark {
  background: #282828;
}
.light {
  background: #dfdfdf;
}
/* Bordered buttons */
.bordered-primary {
  border-color: #1364fd;
  color: #1364fd;
  background: #ffffff;
}
.bordered-secondary {
  border-color: #209ffe;
  color: #209ffe;
  background: #ffffff;
}
.bordered-error {
  border-color: #e81a2b;
  color: #e81a2b;
  background: #ffffff;
}
.bordered-info {
  border-color: #e46013;
  color: #e46013;
  background: #ffffff;
}
.bordered-success {
  border-color: #07a24f;
  color: #07a24f;
  background: #ffffff;
}
.bordered-dark {
  border-color: #282828;
  color: #282828;
  background: #ffffff;
}
.bordered-light {
  border-color: #dfdfdf;
  background: #ffffff;
}
/* Adjust light buttons: background*/
.button.light {
  color: #282828;
}
.bordered-light {
  color: #282828;
}
/* Color text */
.text-primary {
  color: #1364fd;
}
.text-secondary {
  color: #209ffe;
}
.text-error {
  color: #e81a2b;
}
.text-info {
  color: #e46013;
}
.text-success {
  color: #07a24f;
}
.text-dark {
  color: #282828;
}
.text-light {
  color: #dfdfdf;
}
/* Color border  */
.border-primary {
  border-color: #1364fd;
}
.border-secondary {
  border-color: #209ffe;
}
.border-error {
  border-color: #e81a2b;
}
.border-info {
  border-color: #e46013;
}
.border-success {
  border-color: #07a24f;
}
.border-dark {
  border-color: #282828;
}
.border-light {
  border-color: #dfdfdf;
}
