.home-wrapper {
  height: 80vh;
}
.center-vertical {
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-wrapper .container::before {
  width: 200px;
  height: 700px;
  left: -220px;
  top: -150px;
  content: "";
  position: absolute;
  background: url(../../assets/images/sketch-1.svg);
  background-size: 600px 600px;
  background-position: center center;
  background-repeat: no-repeat;
}
.litesome-sketch {
  width: 800px;
  left: 0px;
  top: -150px;
  position: absolute;
}
