.codehighlighter {
  position: relative;
  margin: 15px 0 10px 0;
}
.codehighlighter button {
  position: absolute;
  top: 4px;
  right: 4px;
  background: var(--gray-lighten-2);
  border: none;
  padding: 4px 6px;
  cursor: pointer;
  display: none;
}
.codehighlighter:hover button {
  display: block;
}
